{% extends 'base.html.twig' %}

{% block title %}Accueil | Travel Stars{% endblock %}

{% block body %}

    <div class="w-full h-48 md:h-[500px]">
        <img src="{{ asset('assets/img/logo.png') }}" alt="logo" class="h-full w-full">
    </div>


{% endblock %}
